.auth-form-register {
  margin: 50px auto;
  padding: 20px 40px;
  border-radius: 8px;
  text-align: center;
}

.auth-form-register h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.auth-error-register {
  color: red;
  margin-bottom: 10px;
}

.form-field-register {
  margin-bottom: 15px;
  text-align: left;
}

.form-field-register label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-field-register input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
