.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f1faee;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1400px;
  margin: 20px auto;
  box-sizing: border-box;
}

.outlet {
  flex: 2;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.outlet-center {
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
}

.main-container {
  flex: 1;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: auto;
}

@media (max-width: 768px) {
  .outlet {
    flex: none;
  }
  .main {
    flex-direction: column-reverse;
    gap: 10px;
    width: 100%;
    padding: 20px;
  }
  .main-center {
    flex-direction: column;
    align-items: center;
  }

  .main-container {
    position: relative;
    width: 100%;
    order: -1;
  }
  .outlet-center {
    margin: 0 20px;
    width: 100%;
  }
}
