.dashboard {
  padding: 20px;
}

.listing-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.button-add {
  background-color: rgb(58, 151, 58);
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-add:hover {
  background-color: rgb(27, 124, 27);

  transition: background-color 0.3s ease, color 0.3s ease;
}
