.auth-form-register {
  margin: 50px auto;
  padding: 20px 40px;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  /* background-color: #f9f9f9; */
  text-align: center;
}

.auth-form-register h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.auth-error-register {
  color: red;
  margin-bottom: 10px;
}

.form-field-register {
  margin-bottom: 15px;
  text-align: left;
}

.form-field-register label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-field-register input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.auth-button-register {
  width: 100%;
  padding: 10px;
  background-color: #457b9d;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-button-register:hover {
  background-color: #1d3557;
}
