.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-save {
  background: green;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
textarea {
  width: 100%;
  height: 100%;
}
.button-cancel {
  background: red;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
