.auth-form-login {
  width: 500px;
  margin: 50px auto;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
}

.auth-form-login h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.auth-error-login {
  color: red;
  margin-bottom: 10px;
}

.form-field-login {
  margin-bottom: 15px;
  text-align: left;
}

.form-field-login label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-field-login input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.auth-button-login {
  /* width: 100%;
  padding: 10px;
  background-color: #457b9d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer; */

  width: 100%;
  padding: 10px;
  background-color: #457b9d;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-button-login:hover {
  background-color: #0056b3;
}
